<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.caryan.volunteerregistersys.dao.CheckCodeMapper">

    <insert id="insertCheckCode">
        INSERT INTO volunteer_check_code(user_email, volunteer_name, check_code, is_checked)
        VALUES (#{userEmail}, #{volunteerName}, #{checkCode}, #{isChecked})
    </insert>

    <delete id="deleteCheckCodeByUserEmail">
        DELETE
        FROM volunteer_check_code
        WHERE user_email = #{userEmail}
    </delete>

    <delete id="deleteCheckCodeByVolunteerName">
        DELETE
        FROM volunteer_check_code
        WHERE volunteer_name = #{volunteerName}
    </delete>

    <select id="selectCheckCodeByUserEmail" resultType="me.caryan.volunteerregistersys.entity.po.VolunteerCheckCode">
        SELECT user_email, volunteer_name, check_code, is_checked
        FROM volunteer_check_code
        WHERE user_email = #{userEmail}
    </select>

    <select id="selectCheckCodeByVolunteerName"
            resultType="me.caryan.volunteerregistersys.entity.po.VolunteerCheckCode">
        SELECT user_email, volunteer_name, check_code, is_checked
        FROM volunteer_check_code
        WHERE volunteer_name = #{volunteerName}
    </select>

</mapper>
