<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.caryan.volunteerregistersys.dao.JobMapper">
    <select id="selectAllJob" resultType="me.caryan.volunteerregistersys.entity.po.Job">
        SELECT id, job_name, job_id
        FROM job
    </select>
    <select id="selectJobById" resultType="me.caryan.volunteerregistersys.entity.po.Job">
        SELECT id, job_name, job_id
        FROM job
        WHERE job_id = #{id}
    </select>
</mapper>